{% extends 'index.html' %}
{% block content %} 
<h1 class="my-title">Welcome {{ data }}!!!</h1>

<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">    
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper" >
                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">Reset Password</h4>
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                        <div class="form-group mt-2">
                                            <input type="password" name="password1" class="form-style" placeholder="Enter Password" id="logpass" autocomplete="off"  required pattern=".{8,16}" title="Password must be of length 8 to 15">
                                            <i class="input-icon uil uil-at"></i>
                                        </div>	
                                        <div class="form-group mt-4">
                                            <input type="password" name="password2" class="form-style" placeholder="Confirm Password" id="logpass" autocomplete="off" required pattern=".{8,16}" title="Password must be of length 8 to 15" >
                                            <i class="input-icon uil uil-at"></i>
                                        </div>	
                                        <p style="margin-top: 1rem;">
                                            {{ message }}
                                       </p>
                                       <input type="submit" class="btn mt-4">
                                    
                                    </form>

                                      </div>
                                  </div>
                              </div>
                      </div>
                  </div>
              </div>
          </div>
    </div>
</div>
</div>
{% endblock %}